<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkt.project.biology.mapper.LoginMapper">
	<resultMap id="BaseResultMap" type="com.zkt.project.biology.entity.Login">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
		<result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
		<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
		<result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
		<result column="USER_OPERATOR" property="userOperator"
			jdbcType="VARCHAR" />
		<result column="USER_TEL" property="userTel" jdbcType="VARCHAR" />
		<result column="USER_OFFICE" property="userOffice" jdbcType="VARCHAR" />
		<result column="USER_HOSPITAL" property="userHospital"
			jdbcType="VARCHAR" />
		<result column="USER_ISLOCK" property="userIslock" jdbcType="VARCHAR" />
		<result column="CITY" property="city" jdbcType="VARCHAR" />
		<result column="AREA" property="area" jdbcType="VARCHAR" />
		<result column="SPARE4" property="spare4" jdbcType="VARCHAR" />
		<result column="SPARE5" property="spare5" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, USER_NAME, PASSWORD, USER_TYPE, ROLE_ID, REMARKS, CREATED_BY,
		CREATED_AT,
		UPDATED_BY, UPDATED_AT, USER_OPERATOR, USER_TEL, USER_OFFICE, USER_HOSPITAL,
		USER_ISLOCK,
		CITY, AREA, SPARE4, SPARE5
	</sql>
	<!--<select id="selectByPrimaryKey" resultMap="BaseResultMap"-->
		<!--parameterType="java.lang.Long">-->
		<!--select-->
		<!--<include refid="Base_Column_List" />-->
		<!--from bio_login-->
		<!--where ID = #{id,jdbcType=VARCHAR}-->
	<!--</select>-->
	<!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">-->
		<!--delete from bio_login-->
		<!--where ID = #{id,jdbcType=VARCHAR}-->
	<!--</delete>-->
	<!--<insert id="insert" parameterType="com.zkt.project.biology.entity.Login">-->
		<!--insert into bio_login (ID, USER_NAME, PASSWORD,-->
		<!--USER_TYPE, ROLE_ID, REMARKS,-->
		<!--CREATED_BY, CREATED_AT, UPDATED_BY,-->
		<!--UPDATED_AT, USER_OPERATOR, USER_TEL,-->
		<!--USER_OFFICE, USER_HOSPITAL, USER_ISLOCK,-->
		<!--CITY, AREA,-->
		<!--SPARE4, SPARE5)-->
		<!--values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},-->
		<!--#{password,jdbcType=VARCHAR},-->
		<!--#{userType,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},-->
		<!--#{createdBy,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP},-->
		<!--#{updatedBy,jdbcType=VARCHAR},-->
		<!--#{updatedAt,jdbcType=TIMESTAMP}, #{userOperator,jdbcType=VARCHAR}, #{userTel,jdbcType=VARCHAR},-->
		<!--#{userOffice,jdbcType=VARCHAR}, #{userHospital,jdbcType=VARCHAR},-->
		<!--#{userIslock,jdbcType=VARCHAR},-->
		<!--#{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR},-->
		<!--#{spare4,jdbcType=VARCHAR}, #{spare5,jdbcType=VARCHAR})-->
	<!--</insert>-->
	<!--<insert id="insertSelective" parameterType="com.zkt.project.biology.entity.Login">-->
		<!--insert into bio_login-->
		<!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
			<!--<if test="id != null">-->
				<!--ID,-->
			<!--</if>-->
			<!--<if test="userName != null">-->
				<!--USER_NAME,-->
			<!--</if>-->
			<!--<if test="password != null">-->
				<!--PASSWORD,-->
			<!--</if>-->
			<!--<if test="userType != null">-->
				<!--USER_TYPE,-->
			<!--</if>-->
			<!--<if test="roleId != null">-->
				<!--ROLE_ID,-->
			<!--</if>-->
			<!--<if test="remarks != null">-->
				<!--REMARKS,-->
			<!--</if>-->
			<!--<if test="createdBy != null">-->
				<!--CREATED_BY,-->
			<!--</if>-->
			<!--<if test="createdAt != null">-->
				<!--CREATED_AT,-->
			<!--</if>-->
			<!--<if test="updatedBy != null">-->
				<!--UPDATED_BY,-->
			<!--</if>-->
			<!--<if test="updatedAt != null">-->
				<!--UPDATED_AT,-->
			<!--</if>-->
			<!--<if test="userOperator != null">-->
				<!--USER_OPERATOR,-->
			<!--</if>-->
			<!--<if test="userTel != null">-->
				<!--USER_TEL,-->
			<!--</if>-->
			<!--<if test="userOffice != null">-->
				<!--USER_OFFICE,-->
			<!--</if>-->
			<!--<if test="userHospital != null">-->
				<!--USER_HOSPITAL,-->
			<!--</if>-->
			<!--<if test="userIslock != null">-->
				<!--USER_ISLOCK,-->
			<!--</if>-->
			<!--<if test="city != null">-->
				<!--CITY,-->
			<!--</if>-->
			<!--<if test="area != null">-->
				<!--AREA,-->
			<!--</if>-->
			<!--<if test="spare4 != null">-->
				<!--SPARE4,-->
			<!--</if>-->
			<!--<if test="spare5 != null">-->
				<!--SPARE5,-->
			<!--</if>-->
		<!--</trim>-->
		<!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
			<!--<if test="id != null">-->
				<!--#{id,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="userName != null">-->
				<!--#{userName,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="password != null">-->
				<!--#{password,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="userType != null">-->
				<!--#{userType,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="roleId != null">-->
				<!--#{roleId,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="remarks != null">-->
				<!--#{remarks,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="createdBy != null">-->
				<!--#{createdBy,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="createdAt != null">-->
				<!--#{createdAt,jdbcType=TIMESTAMP},-->
			<!--</if>-->
			<!--<if test="updatedBy != null">-->
				<!--#{updatedBy,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="updatedAt != null">-->
				<!--#{updatedAt,jdbcType=TIMESTAMP},-->
			<!--</if>-->
			<!--<if test="userOperator != null">-->
				<!--#{userOperator,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="userTel != null">-->
				<!--#{userTel,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="userOffice != null">-->
				<!--#{userOffice,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="userHospital != null">-->
				<!--#{userHospital,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="userIslock != null">-->
				<!--#{userIslock,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="city != null">-->
				<!--#{city,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="area != null">-->
				<!--#{area,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="spare4 != null">-->
				<!--#{spare4,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="spare5 != null">-->
				<!--#{spare5,jdbcType=VARCHAR},-->
			<!--</if>-->
		<!--</trim>-->
	<!--</insert>-->
	<!--<update id="updateByPrimaryKeySelective" parameterType="com.zkt.project.biology.entity.Login">-->
		<!--update bio_login-->
		<!--<set>-->
			<!--<if test="userName != null">-->
				<!--USER_NAME = #{userName,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="password != null">-->
				<!--PASSWORD = #{password,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="userType != null">-->
				<!--USER_TYPE = #{userType,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="roleId != null">-->
				<!--ROLE_ID = #{roleId,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="remarks != null">-->
				<!--REMARKS = #{remarks,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="createdBy != null">-->
				<!--CREATED_BY = #{createdBy,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="createdAt != null">-->
				<!--CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},-->
			<!--</if>-->
			<!--<if test="updatedBy != null">-->
				<!--UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="updatedAt != null">-->
				<!--UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},-->
			<!--</if>-->
			<!--<if test="userOperator != null">-->
				<!--USER_OPERATOR = #{userOperator,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="userTel != null">-->
				<!--USER_TEL = #{userTel,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="userOffice != null">-->
				<!--USER_OFFICE = #{userOffice,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="userHospital != null">-->
				<!--USER_HOSPITAL = #{userHospital,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="userIslock != null">-->
				<!--USER_ISLOCK = #{userIslock,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="city != null">-->
				<!--CITY = #{city,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="area != null">-->
				<!--AREA = #{area,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="spare4 != null">-->
				<!--SPARE4 = #{spare4,jdbcType=VARCHAR},-->
			<!--</if>-->
			<!--<if test="spare5 != null">-->
				<!--SPARE5 = #{spare5,jdbcType=VARCHAR},-->
			<!--</if>-->
		<!--</set>-->
		<!--where ID = #{id,jdbcType=VARCHAR}-->
	<!--</update>-->
	<!--<update id="updateByPrimaryKey" parameterType="com.zkt.project.biology.entity.Login">-->
		<!--update bio_login-->
		<!--set USER_NAME = #{userName,jdbcType=VARCHAR},-->
		<!--PASSWORD = #{password,jdbcType=VARCHAR},-->
		<!--USER_TYPE = #{userType,jdbcType=VARCHAR},-->
		<!--ROLE_ID = #{roleId,jdbcType=VARCHAR},-->
		<!--REMARKS = #{remarks,jdbcType=VARCHAR},-->
		<!--CREATED_BY = #{createdBy,jdbcType=VARCHAR},-->
		<!--CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},-->
		<!--UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},-->
		<!--UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},-->
		<!--USER_OPERATOR = #{userOperator,jdbcType=VARCHAR},-->
		<!--USER_TEL = #{userTel,jdbcType=VARCHAR},-->
		<!--USER_OFFICE = #{userOffice,jdbcType=VARCHAR},-->
		<!--USER_HOSPITAL = #{userHospital,jdbcType=VARCHAR},-->
		<!--USER_ISLOCK = #{userIslock,jdbcType=VARCHAR},-->
		<!--CITY = #{city,jdbcType=VARCHAR},-->
		<!--AREA = #{area,jdbcType=VARCHAR},-->
		<!--SPARE4 = #{spare4,jdbcType=VARCHAR},-->
		<!--SPARE5 = #{spare5,jdbcType=VARCHAR}-->
		<!--where ID = #{id,jdbcType=VARCHAR}-->
	<!--</update>-->
	
	<!-- 手写SQL -->
	<!-- 根据各种条件查找登入表 -->
	<select id="login" resultMap="BaseResultMap" parameterType="map">
  	SELECT
		*
	FROM bio_login u
		<where>
			1=1
			<if test="userName != null and userName != ''">
				AND u.USER_NAME = #{userName}
			</if>
			<if test="password != null and password != ''">
				AND u.PASSWORD = #{password}
			</if>
			<if test="id != null and id != ''">
				AND u.ID = #{id}
			</if>
			<if test="userType != null and userType != ''">
				AND u.USER_TYPE = #{userType}
			</if>
			<if test="roleId != null and roleId != ''">
				AND u.ROLE_ID = #{roleId}
			</if>
		</where>
  	</select>
	
	<!-- 查看市 区 医院 运输方账号 及员工账号-->
	<select id="selectByKeys" resultMap="BaseResultMap" parameterType="map">
	SELECT
		*
	FROM bio_login 
		<where>
			USER_ISLOCK != 2 
			<if test="id != null and id != ''">
				AND ID = #{id,jdbcType=VARCHAR}
			</if>		
			<if test="userType != null and userType != ''">
				AND USER_TYPE = #{userType,jdbcType=VARCHAR}
			</if>
			<if test="roleId != null and roleId != ''">
				AND ROLE_ID = #{roleId,jdbcType=VARCHAR}
			</if>	
			<if test="userName != null and userName != ''">
				AND USER_NAME LIKE CONCAT('%',#{userName,jdbcType=VARCHAR},'%' )
			</if>
			<if test="userOperator != null and userOperator != ''">
				AND USER_OPERATOR LIKE CONCAT('%',#{userOperator,jdbcType=VARCHAR},'%' )
			</if>
			<if test="userTel != null and userTel != ''">
				AND USER_TEL LIKE CONCAT('%',#{userTel,jdbcType=VARCHAR},'%' )
			</if>			
			<if test="city != null and city != ''">
				AND CITY LIKE CONCAT('%',#{city,jdbcType=VARCHAR},'%' )
			</if>	
			<if test="area != null and area != ''">
				AND AREA LIKE CONCAT('%',#{area,jdbcType=VARCHAR},'%' )
			</if>
			<if test="userOffice != null and userOffice != ''">
				AND USER_OFFICE LIKE CONCAT('%',#{userOffice,jdbcType=VARCHAR},'%' )
			</if>	
			<if test="userHospital != null and userHospital != ''">
				AND USER_HOSPITAL LIKE CONCAT('%',#{userHospital,jdbcType=VARCHAR},'%' )
			</if>	
		</where>
	limit #{from},#{pageSize}
  	</select>	
	<select id="countByKeys" resultType="int" parameterType="map">
	SELECT
		count(*)
	FROM bio_login 
		<where>
			USER_ISLOCK != 2 
			<if test="id != null and id != ''">
				AND ID = #{id,jdbcType=VARCHAR}
			</if>		
			<if test="userType != null and userType != ''">
				AND USER_TYPE = #{userType,jdbcType=VARCHAR}
			</if>	
			<if test="roleId != null and roleId != ''">
				AND ROLE_ID = #{roleId,jdbcType=VARCHAR}
			</if>		
			<if test="userName != null and userName != ''">
				AND USER_NAME LIKE CONCAT('%',#{userName,jdbcType=VARCHAR},'%' )
			</if>
			<if test="userOperator != null and userOperator != ''">
				AND USER_OPERATOR LIKE CONCAT('%',#{userOperator,jdbcType=VARCHAR},'%' )
			</if>
			<if test="userTel != null and userTel != ''">
				AND USER_TEL LIKE CONCAT('%',#{userTel,jdbcType=VARCHAR},'%' )
			</if>
			<if test="city != null and city != ''">
				AND CITY LIKE CONCAT('%',#{city,jdbcType=VARCHAR},'%' )
			</if>	
			<if test="area != null and area != ''">
				AND AREA LIKE CONCAT('%',#{area,jdbcType=VARCHAR},'%' )
			</if>
			<if test="userOffice != null and userOffice != ''">
				AND USER_OFFICE LIKE CONCAT('%',#{userOffice,jdbcType=VARCHAR},'%' )
			</if>	
			<if test="userHospital != null and userHospital != ''">
				AND USER_HOSPITAL LIKE CONCAT('%',#{userHospital,jdbcType=VARCHAR},'%' )
			</if>	
		</where>
  	</select>
	
	<!-- 查询城市列表 -->
	<select id="getCitys" resultType="String" >
  	  select distinct CITY
  	  from bio_login 
  	  where CITY != '' and CITY is not null
    </select>
    
    <!-- 查询区列表 -->
	<select id="getAreas" resultType="String" >
  	  select distinct AREA
  	  from bio_login 
  	  where AREA != '' and AREA is not null
    </select>
    
    <!-- 查询医院列表不带ID -->
	<select id="getUserHospitals" resultType="String" >
  	  select distinct USER_HOSPITAL
  	  from bio_login 
  	  where USER_HOSPITAL != '' and USER_HOSPITAL is not null and USER_ISLOCK != 2 
    </select>
    
    <!-- 查询医院列表带ID -->
	<select id="getUserHospitals1" resultMap="BaseResultMap" >
  	  select distinct USER_HOSPITAL as userHospital,ID as id
  	  from bio_login 
  	  where USER_HOSPITAL != '' and USER_HOSPITAL is not null and USER_TYPE = 4 and USER_ISLOCK != 2 
    </select>
    
    <!-- 查询运输队列表 -->
	<select id="getUserOffices" resultType="String" >
  	  select distinct USER_OFFICE
  	  from bio_login 
  	  where USER_OFFICE != '' and USER_OFFICE is not null and USER_TYPE = 6 and USER_ISLOCK != 2 
    </select>
    
	<!-- 查询不含下单医院的医院 -->
	<select id="getHospitals" resultType="map" parameterType="String">
  	  select distinct USER_HOSPITAL as userHospital,ID as userHospitalId
  	  from bio_login 
  	  where USER_HOSPITAL != '' and USER_HOSPITAL is not null and USER_HOSPITAL != #{userHospital,jdbcType=VARCHAR} and USER_TYPE = 4 and USER_ISLOCK != 2 
    </select>
    
	<!-- 查询与医院对应的运输方 -->
	<select id="getOffices" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT ml.ID as id,ml.USER_OFFICE as userOffice
	    FROM bio_login ml 
	    LEFT JOIN bio_relate mr on mr.TRANSPORTID = ml.ID 
	    WHERE mr.HOSPITALID = #{id,jdbcType=VARCHAR} and ml.USER_ISLOCK != 2 
	</select>
	
	<!-- 获取对应名称的ID -->
	<select id="getOfficeID" resultType="String" parameterType="java.lang.String">
		select ID
		from bio_login
		where USER_OFFICE = #{userOffice,jdbcType=VARCHAR} and USER_TYPE = 6 and USER_ISLOCK != 2 
	</select>
	<select id="getHospitalID" resultType="String" parameterType="java.lang.String">
		select ID
		from bio_login
		where USER_HOSPITAL = #{userHospital,jdbcType=VARCHAR} and USER_TYPE = 4 and USER_ISLOCK != 2 
	</select>
	
	<!-- 获取对应名称 -->	
	<select id="getOperator" resultType="String" parameterType="java.lang.Long">
		select USER_OPERATOR
		from bio_login
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<select id="getHospital" resultType="String" parameterType="java.lang.Long">
		select USER_HOSPITAL
		from bio_login
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<select id="getOffice" resultType="String" parameterType="java.lang.Long">
		select USER_OFFICE
		from bio_login
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<select id="getRoleID" resultType="java.lang.Long" parameterType="java.lang.Long">
		select USER_TYPE
		from bio_login
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	
	<!-- 获取首页 市 区 医院 运输公司 数量 -->
	<select id="getCityNum" resultType="String" >
  	  SELECT
		count(*)
	  FROM bio_login
	  WHERE USER_TYPE = 2 AND USER_ISLOCK = 0
    </select>
	<select id="getAreaNum" resultType="String" >
  	  SELECT
		count(*)
	  FROM bio_login
	  WHERE USER_TYPE = 3 AND USER_ISLOCK = 0
    </select>
    <select id="getHospitalNum" resultType="String" >
  	  SELECT
		count(*)
	  FROM bio_login
	  WHERE USER_TYPE = 4 AND USER_ISLOCK = 0
    </select>
    <select id="getTransportNum" resultType="String" >
  	  SELECT
		count(*)
	  FROM bio_login
	  WHERE USER_TYPE = 6 AND USER_ISLOCK = 0
    </select>
    
    <!-- 微信查询用户账户 -->
    <select id="getUserName" resultType="String" parameterType="java.lang.Long">
		select USER_NAME
		from bio_login
		where ID = #{id,jdbcType=VARCHAR}
	</select>
    
    <!-- 删除所属员工账号 -->
    <update id="updateByRoleId" parameterType="string">
        update bio_login
		<set>
			<if test="userIslock != null">
				USER_ISLOCK = #{userIslock,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				CITY = #{city,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				AREA = #{area,jdbcType=VARCHAR},
			</if>
			
		</set>
		where ROLE_ID = #{roleId,jdbcType=VARCHAR}
    </update>
</mapper>