<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkt.project.biology.mapper.OperatrecordMapper">
	<resultMap id="BaseResultMap" type="com.zkt.project.biology.entity.Operatrecord">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="CAGE_NO" property="cageno" jdbcType="VARCHAR" />
		<result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
		<result column="OPERAT_CLASSIFY" property="operatclassify" jdbcType="VARCHAR" />
		<result column="DISCRIBTION" property="discribtion" jdbcType="VARCHAR" />
		<result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="SEND_BY" property="sendBy" jdbcType="VARCHAR" />
		<result column="START_BY" property="startBy" jdbcType="VARCHAR" />
		<result column="RECEIPT_BY" property="receiptBy" jdbcType="VARCHAR" />
		<result column="SUBMIT_BY" property="submitBy" jdbcType="VARCHAR" />
		<result column="SPARE5" property="spare5" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, CAGE_NO, ORDER_NO, OPERAT_CLASSIFY, DISCRIBTION,
		CREATED_BY,
		CREATED_AT, SEND_BY,
		START_BY, RECEIPT_BY, SUBMIT_BY, SPARE5
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from bio_operatrecord
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		bio_operatrecord
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.zkt.project.biology.entity.Operatrecord">
		insert into bio_operatrecord
		(ID, CAGE_NO, ORDER_NO,
		OPERAT_CLASSIFY, DISCRIBTION, CREATED_BY,
		CREATED_AT, SEND_BY, START_BY,
		RECEIPT_BY, SUBMIT_BY, SPARE5
		)
		values
		(#{id,jdbcType=VARCHAR}, #{cageno,jdbcType=VARCHAR},
		#{orderNo,jdbcType=VARCHAR},
		#{operatclassify,jdbcType=VARCHAR},
		#{discribtion,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR},
		#{createdAt,jdbcType=TIMESTAMP}, #{sendBy,jdbcType=VARCHAR},
		#{startBy,jdbcType=VARCHAR},
		#{startBy,jdbcType=VARCHAR},
		#{submitBy,jdbcType=VARCHAR}, #{spare5,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.zkt.project.biology.entity.Operatrecord">
		insert into bio_operatrecord
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="cageno != null">
				CAGE_NO,
			</if>
			<if test="orderNo != null">
				ORDER_NO,
			</if>
			<if test="operatclassify != null">
				OPERAT_CLASSIFY,
			</if>
			<if test="discribtion != null">
				DISCRIBTION,
			</if>
			<if test="createdBy != null">
				CREATED_BY,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="sendBy != null">
				SEND_BY,
			</if>
			<if test="startBy != null">
				START_BY,
			</if>
			<if test="startBy != null">
				RECEIPT_BY,
			</if>
			<if test="submitBy != null">
				SUBMIT_BY,
			</if>
			<if test="spare5 != null">
				SPARE5,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="cageno != null">
				#{cageno,jdbcType=VARCHAR},
			</if>
			<if test="orderNo != null">
				#{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="operatclassify != null">
				#{operatclassify,jdbcType=VARCHAR},
			</if>
			<if test="discribtion != null">
				#{discribtion,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="sendBy != null">
				#{sendBy,jdbcType=VARCHAR},
			</if>
			<if test="startBy != null">
				#{startBy,jdbcType=VARCHAR},
			</if>
			<if test="startBy != null">
				#{startBy,jdbcType=VARCHAR},
			</if>
			<if test="submitBy != null">
				#{submitBy,jdbcType=VARCHAR},
			</if>
			<if test="spare5 != null">
				#{spare5,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zkt.project.biology.entity.Operatrecord">
		update bio_operatrecord
		<set>
			<if test="cageno != null">
				CAGE_NO = #{cageno,jdbcType=VARCHAR},
			</if>
			<if test="orderNo != null">
				ORDER_NO = #{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="operatclassify != null">
				OPERAT_CLASSIFY = #{operatclassify,jdbcType=VARCHAR},
			</if>
			<if test="discribtion != null">
				DISCRIBTION = #{discribtion,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				CREATED_BY = #{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="sendBy != null">
				SEND_BY = #{sendBy,jdbcType=VARCHAR},
			</if>
			<if test="startBy != null">
				START_BY = #{startBy,jdbcType=VARCHAR},
			</if>
			<if test="startBy != null">
				RECEIPT_BY = #{startBy,jdbcType=VARCHAR},
			</if>
			<if test="submitBy != null">
				SUBMIT_BY = #{submitBy,jdbcType=VARCHAR},
			</if>
			<if test="spare5 != null">
				SPARE5 = #{spare5,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zkt.project.biology.entity.Operatrecord">
		update
		bio_operatrecord
		set CAGE_NO = #{cageno,jdbcType=VARCHAR},
		ORDER_NO =
		#{orderNo,jdbcType=VARCHAR},
		OPERAT_CLASSIFY =
		#{operatclassify,jdbcType=VARCHAR},
		DISCRIBTION =
		#{discribtion,jdbcType=VARCHAR},
		CREATED_BY =
		#{createdBy,jdbcType=VARCHAR},
		CREATED_AT =
		#{createdAt,jdbcType=TIMESTAMP},
		SEND_BY = #{sendBy,jdbcType=VARCHAR},
		START_BY = #{startBy,jdbcType=VARCHAR},
		RECEIPT_BY =
		#{startBy,jdbcType=VARCHAR},
		SUBMIT_BY = #{submitBy,jdbcType=VARCHAR},
		SPARE5
		= #{spare5,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 手写SQL -->
	<!-- 根据订单编号查询流程 -->
	<select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="String">
		select
		*
		from bio_operatrecord
		where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
	</select>
	
	
	
	
	
	
	
</mapper>