<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkt.project.biology.mapper.TemperatureMapper" >
  <resultMap id="BaseResultMap" type="com.zkt.project.biology.entity.Temperature" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="TEMPERATURE" property="temperature" jdbcType="VARCHAR" />
    <result column="UPLOAD_TIME" property="uploadtime" jdbcType="TIMESTAMP" />
    <result column="CAGE_NO" property="cageno" jdbcType="VARCHAR" />   
    <result column="SPARE3" property="spare3" jdbcType="VARCHAR" />
    <result column="SPARE4" property="spare4" jdbcType="VARCHAR" />
    <result column="SPARE5" property="spare5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, TEMPERATURE, UPLOAD_TIME, CAGE_NO, SPARE3, SPARE4, SPARE5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bio_temperature
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bio_temperature
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zkt.project.biology.entity.Temperature" >
    insert into bio_temperature (ID, ORDER_ID, TEMPERATURE, 
      UPLOAD_TIME, CAGE_NO, SPARE3, SPARE4, 
      SPARE5)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{temperature,jdbcType=VARCHAR}, 
      #{uploadtime,jdbcType=TIMESTAMP}, #{cageno,jdbcType=VARCHAR}, #{spare3,jdbcType=VARCHAR}, #{spare4,jdbcType=VARCHAR}, 
      #{spare5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zkt.project.biology.entity.Temperature" >
    insert into bio_temperature
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="temperature != null" >
        TEMPERATURE,
      </if>
      <if test="uploadtime != null" >
        UPLOAD_TIME,
      </if>
      <if test="cageno != null" >
        CAGE_NO,
      </if>     
      <if test="spare3 != null" >
        SPARE3,
      </if>
      <if test="spare4 != null" >
        SPARE4,
      </if>
      <if test="spare5 != null" >
        SPARE5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cageno != null" >
        #{cageno,jdbcType=VARCHAR},
      </if>     
      <if test="spare3 != null" >
        #{spare3,jdbcType=VARCHAR},
      </if>
      <if test="spare4 != null" >
        #{spare4,jdbcType=VARCHAR},
      </if>
      <if test="spare5 != null" >
        #{spare5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zkt.project.biology.entity.Temperature" >
    update bio_temperature
    <set >
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null" >
        TEMPERATURE = #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        UPLOAD_TIME = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cageno != null" >
        CAGE_NO = #{cageno,jdbcType=VARCHAR},
      </if>     
      <if test="spare3 != null" >
        SPARE3 = #{spare3,jdbcType=VARCHAR},
      </if>
      <if test="spare4 != null" >
        SPARE4 = #{spare4,jdbcType=VARCHAR},
      </if>
      <if test="spare5 != null" >
        SPARE5 = #{spare5,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zkt.project.biology.entity.Temperature" >
    update bio_temperature
    set ORDER_ID = #{orderId,jdbcType=VARCHAR},
      TEMPERATURE = #{temperature,jdbcType=VARCHAR},
      UPLOAD_TIME = #{uploadtime,jdbcType=TIMESTAMP},
      CAGE_NO = #{cageno,jdbcType=VARCHAR},     
      SPARE3 = #{spare3,jdbcType=VARCHAR},
      SPARE4 = #{spare4,jdbcType=VARCHAR},
      SPARE5 = #{spare5,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 手写SQL -->
  <select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from bio_temperature
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </select>
  
  
</mapper>